h2 {
    color: white;
    font-size: 14px;
}

/* Smartphones (600px para baixo)*/
@media only screen and (max-width:600px) {
    body {
        background: blue;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (600px para baixo)*/
@media only screen and (min-width:600px) {
    body {
        background: green;
    }
}

/* Dispositivos Médios*/
@media only screen and (min-width:768px) {
    body {
        background: yellow;
    }
}

/* Dispositivos Largos*/
@media only screen and (min-width:992px) {
    body {
        background: red;
    }

    h2 {
        font-size: 22px;
    }

    .exemplo {
        display: none;
    }
}

/* Super Largos*/
@media only screen and (min-width:1200px) {
    body {
        background: violet;
    }
}